.recommended {
  width: 25px;
  background: red;
}

.recommended-flex {
  display: flex;
  margin-left: 21rem;
  margin-top: 30px;
}
.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
