nav {
  display: flex;
  /* border-bottom: 2px solid #f3f3f3; */
  justify-content: space-around;
  align-items: center;
  padding: 13px;
  z-index: 999;
  margin-left: 11.8rem;
  position: fixed;
  background: wheat;
  width: 100%;
  top: 0;
}
input {
  padding: 5px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  width: 14rem;
}
.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}
.profile-container {
  margin-right: 4rem;
}

@media (max-width: 370px) {
  nav {
    margin-left: 4.7rem;
    padding: 0;
  }
  input {
    width: 5rem;
    padding: 5px 10px;
    margin-right: 1px;
  }
  .profile-container {
    display: flex;
    flex-direction: row;
    font-size: 1px;
    margin-right: 3px;
  }
  .nav-icon {
    margin-left: 2px;
  }
}
